@font-face {
    font-family: interRegular;
    src: url(../font/Inter-Regular.ttf);
}

@font-face {
    font-family: interLight;
    src: url(../font/Inter-Light.ttf);
}

html{
    background-color: lightgray;
}

header{
    margin-top: 0;
    display: block;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    background-color: white;
}

header div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

header h1{
    display: inline-block;
    width: auto;
    font-family: interRegular;
}

header h2{
    display: inline-block;
    width: auto;
    font-family: interLight;
}